.odd{
    background-color: rgb(246, 171, 171);
    font-family: Verdana, 'Dejavu Sans', sans-serif;
}
.bold{
    font-size: 24px;
}
#two{
    font-size: 36px;
    color: rgb(12, 12, 224);
}
#four{
    font-size: 24;
    font-weight: bold;
    background-color: rgb(129, 251, 129);
}