.buttonyes,
.buttonno {
    font-size: 28px;
    font-family:Helvetica, 'Times New Roman', sans-serif;
}
.buttonyes{
    background-color: black;
    color: white;
}
.buttonno{
    background-color: yellow;
    color: black;
}